<html>
<head>
    <title></title>

    <link rel="stylesheet" href="/assets/app.css">
</head>
<body>
<div class="container">
    <div class="row">
        {{#if static.session}}
            Account
        {{else}}
            <div class="small-4 large-4 columns medium-centered">
                <form style="padding-top: 20rem;">
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="middle-label" class="text-right middle">Email</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" id="middle-label" placeholder="email@example.com">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="middle-label" class="text-right middle">Password</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="password" id="middle-label" placeholder="******">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns small-centered">
                            <input type="submit" class="button" value="Log in">
                        </div>
                    </div>
                </form>
            </div>
        {{/if}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/assets/app.js" type="text/javascript"></script>
</body>
</html>