<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/app.css">
</head>
<body ng-app="ui">
<div class="ui header">
    <div class="ui container-top">
        <div class="row ui container">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li><a>Продажа</a></li>
                        <li><a>Оплата</a></li>
                        <li><a >Доставка</a></li>
                        <li><a>Контакты</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a rn-link="/account">Аккаунт</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container-menu">
        <div class="row ui container">


            <div class="top-bar">
                <div class="top-bar-left">
                    ....
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="">Главная</a></li>
                        <li><a href="">Книги</a></li>
                        <li><a href="">Гравюры</a></li>
                        <li><a href="">Рисунки</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>
<script src="/assets/app.js" type="text/javascript"></script>
</body>
</html>