.ui.header {

  .top-bar {
    background: inherit;
    .menu {
      background: inherit;
      li {
        a {
          padding: 0.5rem 0.5rem;
        }
      }
    }
  }

  .ui.container-top {
    background-color: #0f1315;
    .ui.container {
      .top-bar {
        .top-bar-left {
          font-size: 0.85rem;
        }
      }
    }
  }

  .ui.container-menu {
    background-color: red;

    .ui.container {

      .top-bar {
        .top-bar-right {
          .menu {
            li {
              color: #fff;

              a {
                color: inherit;
                font-size: 0.95rem;
              }

              &:hover {
                background-color: #fff;
                color: black;
              }
            }
          }
        }
      }
    }
  }

}

