    /*
    Flaticon icon font: Flaticon
    Creation date: 12/11/2016 03:03
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-agenda:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-attachment:before { content: "\f102"; }
.flaticon-bars:before { content: "\f103"; }
.flaticon-chain:before { content: "\f104"; }
.flaticon-chain-1:before { content: "\f105"; }
.flaticon-check:before { content: "\f106"; }
.flaticon-close:before { content: "\f107"; }
.flaticon-cogwheel:before { content: "\f108"; }
.flaticon-cogwheel-1:before { content: "\f109"; }
.flaticon-cross:before { content: "\f10a"; }
.flaticon-cross-1:before { content: "\f10b"; }
.flaticon-favorite:before { content: "\f10c"; }
.flaticon-gps:before { content: "\f10d"; }
.flaticon-interface:before { content: "\f10e"; }
.flaticon-interface-1:before { content: "\f10f"; }
.flaticon-interface-2:before { content: "\f110"; }
.flaticon-interface-3:before { content: "\f111"; }
.flaticon-interface-4:before { content: "\f112"; }
.flaticon-layers:before { content: "\f113"; }
.flaticon-line:before { content: "\f114"; }
.flaticon-location:before { content: "\f115"; }
.flaticon-lock:before { content: "\f116"; }
.flaticon-lock-1:before { content: "\f117"; }
.flaticon-luxury:before { content: "\f118"; }
.flaticon-mark:before { content: "\f119"; }
.flaticon-mark-1:before { content: "\f11a"; }
.flaticon-medical:before { content: "\f11b"; }
.flaticon-multimedia:before { content: "\f11c"; }
.flaticon-music:before { content: "\f11d"; }
.flaticon-music-1:before { content: "\f11e"; }
.flaticon-present:before { content: "\f11f"; }
.flaticon-round:before { content: "\f120"; }
.flaticon-search:before { content: "\f121"; }
.flaticon-shapes:before { content: "\f122"; }
.flaticon-shapes-1:before { content: "\f123"; }
.flaticon-shapes-2:before { content: "\f124"; }
.flaticon-shapes-3:before { content: "\f125"; }
.flaticon-shapes-4:before { content: "\f126"; }
.flaticon-signs:before { content: "\f127"; }
.flaticon-signs-1:before { content: "\f128"; }
.flaticon-signs-2:before { content: "\f129"; }
.flaticon-sky:before { content: "\f12a"; }
.flaticon-symbol:before { content: "\f12b"; }
.flaticon-symbol-1:before { content: "\f12c"; }
.flaticon-technology:before { content: "\f12d"; }
.flaticon-technology-1:before { content: "\f12e"; }
.flaticon-technology-2:before { content: "\f12f"; }
.flaticon-user:before { content: "\f130"; }
    
    $font-Flaticon-agenda: "\f100";
    $font-Flaticon-arrows: "\f101";
    $font-Flaticon-attachment: "\f102";
    $font-Flaticon-bars: "\f103";
    $font-Flaticon-chain: "\f104";
    $font-Flaticon-chain-1: "\f105";
    $font-Flaticon-check: "\f106";
    $font-Flaticon-close: "\f107";
    $font-Flaticon-cogwheel: "\f108";
    $font-Flaticon-cogwheel-1: "\f109";
    $font-Flaticon-cross: "\f10a";
    $font-Flaticon-cross-1: "\f10b";
    $font-Flaticon-favorite: "\f10c";
    $font-Flaticon-gps: "\f10d";
    $font-Flaticon-interface: "\f10e";
    $font-Flaticon-interface-1: "\f10f";
    $font-Flaticon-interface-2: "\f110";
    $font-Flaticon-interface-3: "\f111";
    $font-Flaticon-interface-4: "\f112";
    $font-Flaticon-layers: "\f113";
    $font-Flaticon-line: "\f114";
    $font-Flaticon-location: "\f115";
    $font-Flaticon-lock: "\f116";
    $font-Flaticon-lock-1: "\f117";
    $font-Flaticon-luxury: "\f118";
    $font-Flaticon-mark: "\f119";
    $font-Flaticon-mark-1: "\f11a";
    $font-Flaticon-medical: "\f11b";
    $font-Flaticon-multimedia: "\f11c";
    $font-Flaticon-music: "\f11d";
    $font-Flaticon-music-1: "\f11e";
    $font-Flaticon-present: "\f11f";
    $font-Flaticon-round: "\f120";
    $font-Flaticon-search: "\f121";
    $font-Flaticon-shapes: "\f122";
    $font-Flaticon-shapes-1: "\f123";
    $font-Flaticon-shapes-2: "\f124";
    $font-Flaticon-shapes-3: "\f125";
    $font-Flaticon-shapes-4: "\f126";
    $font-Flaticon-signs: "\f127";
    $font-Flaticon-signs-1: "\f128";
    $font-Flaticon-signs-2: "\f129";
    $font-Flaticon-sky: "\f12a";
    $font-Flaticon-symbol: "\f12b";
    $font-Flaticon-symbol-1: "\f12c";
    $font-Flaticon-technology: "\f12d";
    $font-Flaticon-technology-1: "\f12e";
    $font-Flaticon-technology-2: "\f12f";
    $font-Flaticon-user: "\f130";